<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body>
    <%- include('../semantico/header.ejs')  %>
    <main id="main">
      <h1 class="h1">
        NIKE INC.
      </h1>
      <section id="acc">

        <article class="symbol-info">
          <%- include('../parts/symbol-info/nke.ejs')  %>
        </article>

        <article class="graf">
          <%- include('../parts/graf/nke.ejs')  %>
        </article>
        
        <article class="fundamental-data">
          <%- include('../parts/fundamental-data/nke.ejs') %>
        </article>


      </section>
    </main>
  </body>
</html>